{% extends "blogapp/base.html" %}
{% load staticfiles %}


{% block main_block %}

<!-- Post with Comments -->
    <div id="main">
        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="#">{{ article.name }}</a></h2>
                        <p>{{ article.description }}</p>
                        <h3>
                            {% for category in article.categories.all %}{{ category }}
                                {% if not forloop.last %},
                                {% endif %}
                            {%endfor%}
                        </h3>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-11-01">{{ article.pub_date|date:"E d, Y" }}</time>
                        <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
                    </div>
                </header>
                <span class="image featured"><img src="{{ article.image.url }}" alt="" /></span>
                <p>{{ article.body_text }}</p>
                <footer>
                    <ul class="stats">
                        <li><a href="#">General</a></li>
                        <li><a href="#" class="icon fa-comment">{{ article.quantity_comments }}</a></li>
                    </ul>
                </footer>


            <!-- Comments -->
                <h3>Comments</h3>
                {% for comment in comments %}
                    <footer>
                        <ul class="stats2">
                            <li><a href="/" class="icon fas fa-user">{{ comment.user }}</a></li>
                            <li><a href="/" class="icon far fa-clock-o">{{ comment.pub_datetime|date:"H:i  E d, Y" }}</a></li>
                        </ul>
                    </footer>
                    <blockquote>{{ comment.text }}</blockquote>
                {% endfor %}


            <!-- Add Comment -->
                {% if request.user.is_authenticated %}

                <section>
                    <h3>Add Comment</h3>
                    <form method="post" action="/blogapp/{{article_id}}/">
                        {% csrf_token %}
                        {{ form }}
                        <div class="row uniform">
                            <div class="5u 12u$(xsmall)">
                                <ul class="actions">
                                    <li><input type="submit" value="Add Comment" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                            <div class="7u 12u$(xsmall)">
                                <textarea name="comment" id="comment" placeholder="Enter your comment" rows="4"></textarea>
                            </div>

                        </div>
                    </form>
                </section>

                {% else %}

                     <h3>You need to be logged in to post a comment!</h3>
                        <ul class="actions">
                            <li><a href="/blogapp/login" class="button big">Log In</a></li>
                            <li><a href="/blogapp/registration" class="button big">Registration</a></li>
                        </ul>

                {% endif %}

            </article>

{% endblock %}