{% load staticfiles %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Blog about my life</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'blogapp/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'blogapp/assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'blogapp/assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'blogapp/assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
                    <header id="header">
                        <h1><a href="/">Home page</a></h1>
                        <nav class="links">
                        </nav>

                    <h1><a href="/blogapp/registration">Registration</a></h1>

                        {% if request.user.is_authenticated %}
                            <h1><a href="/blogapp/logout">Log Out  </a></h1>
                        {% else %}
                            <h1><a href="/blogapp/login">Log In  </a></h1>
                        {% endif %}

                    </header>

                <!-- Main content block -->
                    {% block main_block %}

                    {% endblock %}

                <!-- Footer -->
                    <section id="footer">
                        <ul class="icons">
                            <li><a href="/" class="fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="/" class="fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="/" class="fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="/" class="fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="/" class="fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                        <p class="copyright">Dmytro Pavlushchenko </p>
                    </section>
			</div>

		<!-- Scripts -->
			<script src="{% static 'blogapp/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'blogapp/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'blogapp/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'blogapp/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'blogapp/assets/js/main.js' %}"></script>

	</body>
</html>