{% extends "blogapp/base.html" %}
{% load staticfiles %}

<!DOCTYPE HTML>

{% block main_block %}

    <!-- Header -->
        <header id="header">
            <h1><a href="/">Home page</a></h1>
            <nav class="links">
                <ul>
                    {% for category in categories %}
                        <li><a href="/blogapp/articles_in_category/{{ category.name }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

            <h1><a href="/blogapp/registration">Registration</a></h1>

                {% if request.user.is_authenticated %}
                    <h1><a href="/blogapp/logout">Log Out  </a></h1>
                {% else %}
                    <h1><a href="/blogapp/login">Log In  </a></h1>
                {% endif %}

        </header>

    <!-- Main Block -->
        <div id="main">
            {% for article in articles %}

                <!-- Post -->
                    <article class="post">
                        <header>
                            <div class="title">
                                <h2><a href="/blogapp/{{ article.id }}/">{{ article.name }}</a></h2>
                                <p>{{ article.description }}</p>
                                <h3>
                                    {% for category in article.categories.all %}{{ category }}
                                        {% if not forloop.last %},
                                        {% endif %}
                                    {%endfor%}
                                </h3>
                            </div>
                            <div class="meta">
                                <time class="published" datetime="2015-11-01">{{ article.pub_date|date:"E d, Y" }}</time>
                                <a href="/blogapp/{{ article.id }}/" class="author"><span class="name">Author</span><img src="images/avatar.jpg" alt="" /></a>
                            </div>
                        </header>
                        <a href="/blogapp/{{ article.id }}/" class="image featured"><img src="{{ article.image.url }}" alt="" /></a>
                        <p>{{ article.body_text|truncatewords:80 }}</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="/blogapp/{{ article.id }}/" class="button big">Continue Reading</a></li>
                            </ul>
                            <ul class="stats">
                                <li><a href="#">General</a></li>
                                <li><a href="#" class="icon fa-comment">{{ article.quantity_comments }}</a></li>
                            </ul>
                        </footer>
                    </article>

            {% endfor %}


            <!-- Pagination -->
                <ul class="actions pagination">
                {% if articles.has_previous %}
                    <li><a href="?page={{ articles.previous_page_number }}" class="button big previous">Previous Page</a></li>
                {% else %}
                    <li><a href="" class="disabled button big previous">Previous Page</a></li>
                {% endif %}

                {% if articles.has_next %}
                    <li><a href="?page={{ articles.next_page_number }}" class="button big next">Next Page</a></li>
                {% else %}
                    <li><a href="" class="disabled button big next">Next Page</a></li>
                {% endif %}
                </ul>

        </div>


        <!-- Sidebar -->
            <section id="sidebar">

        <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="/static/blogapp/images/logo.jpg" alt="" /></a>
                <header>
                    <h2>Blog About My life</h2>
                    <p>Stories from my life</p>
                </header>
            </section>

        <!-- Categories -->
            <section>
                <div class="mini-posts">

                {% for category in categories %}

                    <article class="mini-post">
                        <header>
                            <h3><a href="/blogapp/articles_in_category/{{ category.name }}">{{ category.name }}</a></h3>
                            <h4><a href="/blogapp/articles_in_category/{{ category.name }}">{{ category.description }}</a></h4>
                        </header>
                        <a href="/blogapp/articles_in_category/{{ category.name }}" class="image"><img src="{{ category.image.url }}" alt="" /></a>
                    </article>

                {% endfor %}

                </div>
            </section>

        <!-- About -->
            <section class="blurb">
                <h2>About</h2>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat.
                    Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.
                    Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat.
                    Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
            </section>

{% endblock %}