{% extends "blogapp/base.html" %}
{% load staticfiles %}


{% block main_block %}

<!-- User_LogIn -->
    <div id="main">
                <section>
                    <h3>Log IN</h3>
                    <form method="post" action="/blogapp/login">
                        {% csrf_token %}
                        <div class="row uniform">
                            <div class="5u 12u$(xsmall)">
                                <input type="text" name="name" id="name" value="" placeholder="Name" />
                                <h3></h3>
                                <input type="text" name="password" id="password" value="" placeholder="Password" />
                                <h3></h3>
                                <ul class="actions">
                                    <li><input type="submit" value="Log IN" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
{% endblock %}